*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: yellow;
}

.navbar .rightSide button{
  display: none;
}

.navbar {
  width: 100%;
  height: 60px;
  background-color: #021E39;
  display: flex;
}

.navbar .leftSide{
  flex: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.navbar .rightSide{
  flex: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.navbar .leftSide a{
  margin-left:15%;
  font-size: 30px;
}

.navbar .rightSide .links{
  margin-left: 250px;
}

.navbar .rightSide .links a{
  margin-left: 20px;
  font-size: 17px;
}

.profileIcon{
  height: 60px;
  width: 45px;
  display: flex;
  align-items: center;
}

@media only screen and (max-width:1000px) {
  .navbar .rightSide .links{
    margin-left: 130px;
  }
  
  .navbar .rightSide .links a{
    margin-left: 17px;
    font-size: 17px;
  }
  
}

@media only screen and (max-width:900px) {
  .navbar .rightSide .links{
    margin-left: 100px;
  }
  
  .navbar .rightSide .links a{
    margin-left: 15px;
    font-size: 15px;
  }
  
  .profileIcon{
    height: 55px;
    width: 40px;
  }
  
}

@media only screen and (max-width:800px) {
  .navbar .rightSide .links{
    margin-left: 70px;
  }
  
  .navbar .rightSide .links a{
    margin-left: 13px;
    font-size: 14px;
  }
  .profileIcon{
    height: 45px;
    width: 35px;
  }
}

@media only screen and (max-width:700px) {
  .navbar .rightSide .links a{
    display: none;
  }

  .navbar .rightSide button{
    display: flex;
  }

  .navbar .rightSide #hidden {
    position: absolute;
    right: 0;
    top: 60px;
    height: 220px;
    width: 100%;
    background-color: #021E39;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .navbar .rightSide .links #hidden a{
    display: flex
  }
}

