*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: red;
}

/* navbar */

.navbar .rightSide button{
  display: none;
}

.navbar {
  width: 100%;
  height: 60px;
  background-color: #021E39;
  display: flex;
}

.navbar .leftSide{
  flex: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.navbar .rightSide{
  flex: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.navbar .leftSide a{
  margin-left:15%;
  font-size: 30px;
}

.navbar .rightSide .links{
  margin-left: 350px;
}

.navbar .rightSide .links a{
  margin-left: 20px;
  font-size: 20px;
}

.profileIcon{
  height: 60px;
  width: 45px;
  display: flex;
  align-items: center;
}

/* homepage */
.section {
  height: 700px;
  background-color:rgb(255, 255, 255);
  border: 1px solid black
}

.main{
  background-image: url('../../design/bgImage/bg.png');
  background-repeat: no-repeat;

  background-size: 100% 100%;
  height: 100vh;
  position: relative;
}

footer{
  color: wheat;
  background-color: rgb(10, 10, 10);
  height: 300px;
}

.detel {

  position: absolute;
  bottom: 150px;
  right: 50px;
}

.detel h1{
  font-size: 50px;
  color: #212121;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.733);
}

span{
  color: orange;
}

.detel h3{
  color: rgba(255, 255, 255, 0.733);
  line-height: 22px;
}

/* homepage */

@media only screen and (max-width:1400px) {
  .navbar .rightSide .links{
    margin-left: 220px;
  }
  
}

@media only screen and (max-width:1200px) {
  .navbar .rightSide .links{
    margin-left: 150px;
  }
  
  .navbar .rightSide .links a{
    margin-left: 18px;
    font-size: 18px;
  }
  
  .profileIcon{
    height: 55px;
    width: 40px;
  }
  
}

@media only screen and (max-width:1000px) {
  .navbar .rightSide .links{
    margin-left: 100px;
  }
  
  .navbar .rightSide .links a{
    margin-left: 15px;
    font-size: 15px;
  }
  .profileIcon{
    height: 45px;
    width: 35px;
  }
}

@media only screen and (max-width:800px) {
  .navbar .rightSide .links {
    display: none;
  }

  .navbar .rightSide button{
    display: flex;
    margin-left: 150px;
  }

  .navbar .rightSide #hidden {
    position: absolute;
    right: 0;
    top: 60px;
    height: 200px;
    width: 100%;
    background-color: #021E39;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .navbar .rightSide #hidden a{
    margin: 10px;
    font-size: 15px;
  }
}

